In [ ]:
# QUESTION 1 #
# Write a function that accepts an integer value as an input
# and return True if the value is divisable with 7
# - do not forget to test the function
def func1(x):
    if x%7 == 0:
      return True
    return False

print(func1(10))
print(func1(14))

False
True

In [ ]:
# QUESTION 2 #
# Write a function that accepts a list and a integer (x) as input
# return first value of list which is greater then the input integer x
def func2(x, user_list):
    for i in user_list:
      if i >= x:
        return i
    return x 

my_list = [6,3,6,10,0,4,2,7,]
func2(10, my_list)

10

In [ ]:
# QUESTION 3 #
# Write a function that accepts an integer as input
# prints a sequence that increments 5, 10 times.
# Ex:
# input -> 4
# output -> 4, 9, 14, 19, 24, 29, 34, 39, 44, 49
def func3(x):
    for _ in range(10):
      print(x)
      x+= 5

func3(4)

4
9
14
19
24
29
34
39
44
49

In [4]:
# QUESTION 4 #
# Write a function that prints given dictionary's ("students")
# key and value pairs as follows (you need to use for loop)
# key : value
students = {
    "student_id1" : "student_name1",
    "student_id2" : "student_name2",
    "student_id3" : "student_name3",
    "student_id4" : "student_name4",
    "student_id5" : "student_name5"
}

def func4(students):
    for key, value in students.items():
      print(f"{key} : {value}")

func4(students)

student_id1 : student_name1
student_id2 : student_name2
student_id3 : student_name3
student_id4 : student_name4
student_id5 : student_name5

In [5]:
# QUESTIONS 5 #
# a list of integers "a" is given
# Using a while loop, pop elements from list until element size of a
# is equals to 5
# create an empty list and append poped elements to this list "b"
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
b = []
# YOUR CODE HERE #
while len(a) > 5:
  b.append(a.pop())

print(a)
print(b)

[1, 2, 3, 4, 5]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]

In [6]:
# QUESTION 6 #
# Write a function that ask user input until the input is
# divisable to 9

def func6():
    while True:
      x = int(input("Enter a number:"))
      if x%9 == 0:
        return

func6()

Enter a number:5
Enter a number:7
Enter a number:10
Enter a number:18

In [9]:
# QUESTION 7 #
# two lists (a and b) using zip() method print element pairs
# located in same index
a = ["apple", "melon", "banana"]
b = [0.67, 3.6, 15.6]

# YOUR CODE HERE
for i,j in list(zip(a,b)):
  print(i, j)

apple 0.67
melon 3.6
banana 15.6

In [12]:
# QUESTION 8 # REF: UDACITY
"""
Use zip to write a for loop that creates a string 
specifying the label and coordinates of each point 
and appends it to the list points. Each string should be 
formatted as label: x, y, z. For example, 
the string for the first coordinate should be F: 23, 677, 4.
"""

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append(f"{point[0]}: {point[1]}, {point[2]}, {point[3]}.")

F: 23, 677, 4.

In [13]:
# QUESTION 9 #
# Write a function that accepts list x as an input
# and using list comprehensions return a list with squared values
# ex:
# input -> [1,2,5]
# output -> [1,4,25]

def func9(x):
    return [i**2 for i in x]

a = [3,5,7,8,3]
print(func9(a))

[9, 25, 49, 64, 9]

In [14]:
# QUESTION 10 #
# Write a function with "lambda" expression that
# simle power function for example
# x: 3 y: 2, calculates 3^2 = 9

# YOUR CODE HERE #
power = lambda x, y: x ** y
power(3,2)

9

In [16]:
# QUESTION 11 #
# Write a function which accepts integer x as input,
# Calculates a fibonacci sequence starting from 1
# prints x values of the sequence
# ex: x = 3
# output: 1 1 2

def fibo(x):
    first = 1
    second = 1
    lst = [1,1]
    for i in range(x):
      temp = second + first
      first = second
      second = temp
      lst.append(temp)

    print(*lst)
    
fibo(10)

1 1 2 3 5 8 13 21 34 55 89 144

In [33]:
# QUESTION 12 #
# Python program to print first 10
# prime numbers
# A function name prime is defined
# using def
import math

def isPrime(x):
  for i in range(2, math.ceil(math.sqrt(x)) + 1):
    if x % i == 0:
      return False
  return True


def prime(n):
  counter = 1
  q = 3
  while counter < 10:
    if isPrime(q):
      print(q)
      counter += 1
    q+=2
    
 
# Driver Code
n = 10
 
# print statement
print("First 10 prime numbers are:  ")
print(2)
prime(n)

First 10 prime numbers are:
2
3
5
7
11
13
17
19
23
29

In [36]:
# QUESTION 13 #
## Ask user's name with the use of def function.

def asking_username():
    username = input("What's your name?\n")
    return username

print("Hello, " + asking_username().title() + "!")

What's your name?
İrem
Hello, İrem!

In [38]:
# QUESTION 14 #
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

# YOUR CODE HERE #
def double(x):
  return x*2
  
new_list = list(map(double, my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [40]:
# QUESTION 15 #
#you could write a lambda function that doubles its argument: lambda x: x*2, 
#and use it with the map function to double all elements in a list

my_list2 = [1, 2, 3, 4, 5, 6]

# YOUR CODE HERE #
new_list2 = list(map(lambda x: x*2, my_list2))
print(new_list2) # [2, 4, 6, 8, 10, 12]

[2, 4, 6, 8, 10, 12]